//.header {
//    position: sticky;
//    background: var(--cor-primary);
//    height: 60px;
//    top: 0;
//    z-index: 200;
//    left: 0;
//    right: 0;
//    border: 0;
//    border-radius: 0;
//    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//    display: flex;
//    justify-content: space-between;
//    padding: 5px 10px;
//}
//.navbar-bg {
//    background: var(--cor-primary);
//    letter-spacing: .7px;
//    padding-top: 1px;
//    padding-bottom: 0;
//    border: 0;
//    border-radius: 0;
//    box-shadow: unset;
//    .navbar-brand {
//        color: #FFF;
//        padding: 0;
//    }
//    .nav-link {
//        color: var(--cor-primary-contrast);
//        text-transform: capitalize;
//        letter-spacing: .8px;
//        padding-bottom: 14px;
//        font-weight: 500;
//    }
//}
//
//.input-search {
//    background: #FFFF;
//    padding: 7px 0 7px 15px;
//    width: 300px;
//    margin: 0 !important;
//    border-radius: 12px 0 0 0;
//}
//.btn-search {
//    height: 41px;
//    background: #FFFF;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    border-radius: 0 0 12px 0;
//    img {
//        filter: invert(83%) sepia(1%) saturate(0%) hue-rotate(56deg) brightness(88%) contrast(96%);
//    }
//}
//
//
//.navbar {
//    .navbar-toggle-cor {
//        display: block;
//        position: absolute;
//        border: none;
//        background: none;
//        cursor: pointer;
//        img {
//            filter: invert(99%) sepia(2%) saturate(292%) hue-rotate(286deg) brightness(114%) contrast(100%);
//        }
//    }
//    .collapse {
//        flex-direction: column;
//        position: absolute;
//        top: 110%;
//        left: -10px;
//        padding: 20px;
//        &.show {
//            display: flex;
//        }
//    }
//
//}
//@media (min-width: 992px) {
//    .navbar {
//        .navbar-toggle-cor {
//            display: none;
//        }
//    }
//}


.navbar-bg {
    background: var(--cor-primary);
    letter-spacing: .7px;
    //height: 60px;
    //padding-top: 1px;
    //padding-bottom: 0;

    .navbar-toggler {
        img {
            filter: invert(99%) sepia(2%) saturate(292%) hue-rotate(286deg) brightness(114%) contrast(100%);
        }
    }

    .navbar-brand {
        color: #FFF;
        padding: 0;
    }
    .nav-link {
        color: var(--cor-primary-contrast);
        text-transform: capitalize;
        letter-spacing: .8px;
        padding: 16px 14px 8px;
        font-weight: 500;
    }
}

// SEARCH
form {
    top: 6px;
    position: absolute;
    z-index: 100;
    right: 12px;
}
.input-search {
    background: #FFFF;
    padding: 7px 0 7px 15px;
    width: 190px;
    height: 35px;
    margin: 0 !important;
    border-radius: 12px 0 0 0;
}
.btn-search {
    &:hover, &:active {
        background: rgba(255, 255, 255, 0.8);
    }
    height: 35px;
    background: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 12px 0;
    img {
        filter: invert(83%) sepia(1%) saturate(0%) hue-rotate(56deg) brightness(88%) contrast(96%);
    }
}
@media (min-width: 576px) {
    form {
        top: 12px;
        right: 12px;
    }
    .input-search {
        width: 300px;
        height: unset;
    }
    .btn-search {
        height: 41px;
    }
}
// END SEARCH
.icon-filter {
    filter: invert(62%) sepia(49%) saturate(6079%) hue-rotate(167deg) brightness(100%) contrast(100%);
}
.active {
    border-color: #e9ecef #e9ecef #dee2e6;
}
