<nav class="navbar navbar-expand-lg navbar-bg">
    <button class="navbar-toggler mt-1 mb-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img class="navbar-toggler-icon iconx24" src="assets/icon/svg/menu.svg" alt="menu">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand mt-1" href="#">Corotos</a>
        <ul class="navbar-nav nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/#" routerLinkActive="active">Historial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/stores" routerLinkActive="active">Tiendas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/#" routerLinkActive="active">Vender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/faq" routerLinkActive="active">Ayuda</a>
            </li>
        </ul>
    </div>
</nav>
<form class="form-inline m-0">
    <input class="form-control mr-sm-2 input-search"
           type="search" placeholder="Search"
           aria-label="Search"
           name="textToSearch" [(ngModel)]="textToSearch"
           (keyup.enter)="search()">
    <a class="my-2 my-sm-0 btn btn-search" type="submit" (click)="search()">
        <img src="assets/icon/svg/magnifying-glass.svg" class="iconx16" alt="Icon search">
    </a>
</form>

<!--<div class="navbar nav-filters">-->
<!--    <button class="btn btn-outline-info m-0 py-1 px-2">-->
<!--        <img src="assets/icon/svg/expand-down.svg" class="iconx16 icon-filter" alt="filter">-->
<!--    </button>-->
<!--</div>-->
