.section-filters {
    padding-right: 0;
    display: none;
    .badge {
        font-size: 18px;
        border-radius: 0;
    }
}

.card-custom {
    width: 100%;
    margin-right: 1.25rem;
    &-img {
        max-width: 100%;
        height: 180px;
        object-fit: contain;
    }
}

@media (min-width: 992px) {
    .section-filters {
        padding-left: 50px;
        display: block;
    }
    .nav-filters {
        display: none;
    }
}
@media (min-width: 1024px) { // lg
    .card-custom-img {
        height: 200px;
    }
}
@media (min-width: 1240px) {
    .card-custom-img {
        height: 240px;
    }
}
@media (min-width: 1440px) {
    .card-custom-img {
        height: 280px;
    }
}
