<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12 col-lg-1"></div>
        <main class="col-12 col-lg-8 mt-4">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let prod of products">
                        <div class="card card-custom mb-3">
                            <img class="card-img-top card-custom-img" [src]="prod.photoUrl" alt="Product image">
                            <div class="card-body">
                                <h5 class="text-center">{{prod.name}}</h5>
                                <p class="card-text text-muted d-flex justify-content-between">
                                    <span *ngIf="prod.price.bs" class="text-right d-block">BS {{prod.price.bs}}</span>
                                    <span *ngIf="prod.price.usd" class="text-left d-block">USD {{prod.price.usd}}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <section class="col-12 col-lg-3 mt-lg-4 section-filters">
            <div class="card">
                <ul class="list-group bmd-list-group-sm pt-0">
                    <li class="badge bg-cor-primary pb-2 pt-2 mb-2">Categorias</li>
                    <button (click)="selectCategory(1)" class="btn list-group-item text-capitalize" [ngClass]="{'active': selectedCategory === 1}">Repuesto</button>
                    <button (click)="selectCategory(2)" class="btn list-group-item text-capitalize" [ngClass]="{'active': selectedCategory === 2}">Comida</button>
                    <button (click)="selectCategory(3)" class="btn list-group-item text-capitalize" [ngClass]="{'active': selectedCategory === 3}">Electrodomestico</button>
                    <button (click)="selectCategory(4)" class="btn list-group-item text-capitalize" [ngClass]="{'active': selectedCategory === 4}">Juguetes</button>
                    <button (click)="selectCategory(5)" class="btn list-group-item text-capitalize" [ngClass]="{'active': selectedCategory === 5}">Accesorios</button>
                    <button (click)="selectCategory(6)" class="btn list-group-item text-capitalize" [ngClass]="{'active': selectedCategory === 6}">Hogar</button>
                    <button (click)="selectCategory(7)" class="btn list-group-item text-capitalize" [ngClass]="{'active': selectedCategory === 7}">Dispositivos
                    </button>
                </ul>

                <ul class="list-group bmd-list-group-sm pt-0 mt-3">
                    <li class="badge bg-cor-primary pb-2 pt-2 mb-2">Estados</li>
                    <button *ngFor="let state of states"
                        (click)="selectState(state.id)"
                        class="btn list-group-item text-capitalize"
                        [ngClass]="{'active': selectedState === state.id}">
                        {{state.name}}
                    </button>
                </ul>
            </div>
        </section>
    </div>

</div>

