.card-custom {
    width: 100%;
    &-img {
        max-width: 100%;
        height: 180px;
        object-fit: contain;
    }
}
@media (min-width: 1440px) {
    .card-custom-img {
        height: 280px;
    }
}
