<app-navbar></app-navbar>

<div class="container">
    <main class="row mt-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let prod of products">
            <div class="card card-custom mb-3">
                <img class="card-img-top card-custom-img" [src]="prod.photoUrl" alt="Product image">
                <div class="card-body">
                    <h5 class="text-center">{{prod.name}}</h5>
                    <p class="card-text text-muted d-flex justify-content-between">
                        <span *ngIf="prod.price.bs" class="text-right d-block">BS {{prod.price.bs}}</span>
                        <span *ngIf="prod.price.usd" class="text-left d-block">USD {{prod.price.usd}}</span>
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
