* {
    font-family: 'Catamaran', 'Roboto', 'Open Sans', serif !important;
}

:root {
    --cor-primary: #01b875;
    --cor-primary-contrast: #fbfbfb;
}
.bg-cor-primary {
    background-color: var(--cor-primary);
    color: var(--cor-primary-contrast);
}

.icon {
    fill: #4e555b;
    &x16 {
        width: 16px;
        height: 16px;
    }
    &x24 {
        width: 24px !important;
        height: 24px !important;
    }
}
.mt-7 {
    margin-top: 7rem !important;
}
